@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}

.container-fluid {
    max-width: 600px;
    margin: auto;
}
.row{
    margin: auto;
}
.container {
    width: 600px;
}
.navbar-inner {
    background-color: #007040;
    background-image: none;
}
.masthead {
    text-align: center;
}

#main-fieldset {
    width: 280px;
    margin: auto;
}

#title-box {
    padding-bottom: 20px;
}
#title-box > h2 {
    color: #007040;
}
.form-horizontal .control-group {
    margin-bottom: 5px;
}
.form-horizontal .control-group > label {
    width: 80px;
    padding-top: 0px;
}
.form-horizontal .controls {
    margin-left: 90px;
}
.control-group {
    zoom: 1.1;
}

#name {
    width: 150px;
}
#jumin1 {
    width: 65px;
}
#jumin2 {
    width: 75px;
}
